<%- include("../../views/partials/admin/header") %>


    <section class="content-main">
      <div class="dashboard-cards">
        
        Dashboard
      </div>
    </section>
  </main>
    <%- include("../../views/partials/admin/footer") %>
 
 

